:root {
  --bg-color: #121212;
  --bg-secondary: #1e1e1e;
  --text-color: #e0e0e0;
  --bg-color: #0D1117;
  --acent: #3B82F6;
  --base: #E5E7EB;
}


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: var(--bg-color);
  color: var(--text-color);
  line-height: 1.6;
}

